body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
}

/* .sidebar-wrapper start */

.sidebar-wrapper{
    display: block;
    position: fixed;
    width: 300px;
    height: 100vh;
    background-color: #172b4d;
}

.sidebar{
    padding:30px;
    padding-right: 30px;
}

.welcome-text{
    display: block;
    margin-top: 30px;
    text-align: center;
}

.welcome-text p{
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
}

.login-wrapper{
    margin-top: 30px;
    display: block;
}

.login{
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    background-color: #3dc7dc;
}

.login-popup-wrapper{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    z-index: 1;
}

.login a{
    align-items: center;
    color: #fff;
    font-weight: 400;
    text-decoration: none;
}

.login:hover{
    transform: translateY(-1px);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}

.member-wrapper{
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    font-size: 1rem;
}

.signin{
    display: block;
    text-align: center;
}
.signin a{
    display: block;
    color: #fff;
    text-decoration: none;
}
.member-info{
    display: block;
    text-align: center;
}
.member-info a{
    display: block;
    color: #fff;
    text-decoration: none;
}

.menu-wrapper{
    display: block;
    margin-top: 70px;
}

.menu ul li{
    padding-bottom: 30px;
    color: #fff;
    list-style: none;
    font-size: 1.5rem;
}

.social-wrapper{
    display: block;
    text-align: center;
}

.social-github a{
    color: #fff;
    text-decoration: none;
}
/* .sidebar-wrapper end */

/* board job start */

.board-job-wrapper{
    display: block;
    padding: 0 30px;
    margin-left: 300px;
    height: 200vh;
}

.board-title-wrapper{
    display: block;
    padding: 30px 0;
}

.board-job-title{
    padding: 30px;
    background-color: #3dc7dc;
    border-radius: 10px;
}

.board-job-title h1{
    
    font-weight: 700;
    font-size: 2.5rem;
}

.board-best-wrap {
    display: block;
}

.board-best{
    background-color: #e5e8ec;
    border-radius: 10px;
    padding: 30px;
}

.board-best ul li {
    border-bottom: #172b4d;
    list-style: none;
    padding-bottom: 5px;
}

.board-best a{
    font-size: 0.9rem;
    color: #172b4d;
    text-decoration: none;
}
.table-wrapper{
    width: 70%;
}
.table {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    /* border-left: 1px solid #ccc; */
    margin: 20px 10px;
  }
  
  .table thead th {
    padding: 30px;
    font-weight: bold;
    /* border-top: 1px solid #ccc; */
    /* border-right: 1px solid #ccc; */
    border-bottom: 3px solid #172b4d;
  }
  /* .table tbody th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #ececec;
  }
  .table td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  } */
#banner {
    position: fixed;
    right:50%;
    margin-right:-800px; 
    top: 168px;
}

.cols{
    margin-left: 45%;
}
.button{
    margin-left: 62%;
}
.btn{
    background-color:#505f79;
    color: wheat;
}
